@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap");
body {
  /* background: #232323; */
 
}
@font-face {
  font-family: "unisans";
  src: url("/fonts/unisans.otf");
}
@font-face {
  font-family: "electrolize";
  src: url("/fonts/electrolize.ttf");
}
@font-face {
  font-family: "titlium";
  src: url("/fonts/titlium.woff");
}
@font-face {
  font-family: "lucidaconsole";
  src: url("/fonts/lucidaconsole.ttf");
}
@font-face {
  font-family: "cascadia";
  src: url("/fonts/cascadia.ttf");
}
//xyzanomation


//scrollbar
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue green;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
  border: 1px solid #26dafd;
}
